{% extends 'base.html' %}

{% block title %}英语六级报名{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-4">
          <form class='form-register' action="/cet6/" method="post">
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}
              <h2 class="text-center">欢迎报名英语六级考试</h2>
              <p class="text-center">请仔细检查个人信息，确认无误后，填写考点报考！</p>
                <div class="form-group" >
                  {{ cet6_form.id.label_tag }}
                  {{ cet6_form.id }}
              </div>
              <div class="form-group" >
                  {{ cet6_form.name.label_tag }}
                  {{ cet6_form.name }}
              </div>
              <div class="form-group" >
                  {{ cet6_form.school.label_tag }}
                  {{ cet6_form.school }}
              </div>
              <div class="form-group"><!--这个label_tag怎么弄的-->
                  {{ cet6_form.major.label_tag }}<!--这个在form部分，相当于加一个标题-->
                  {{ cet6_form.major }}
              </div>
              <div class="form-group"><!--这个label_tag怎么弄的-->
                  {{ cet6_form.degree.label_tag }}<!--这个在form部分，相当于加一个标题-->
                  {{ cet6_form.degree }}
              </div>
              <div class="form-group"><!--这个label_tag怎么弄的-->
                  {{ cet6_form.ID_type.label_tag }}<!--这个在form部分，相当于加一个标题-->
                  {{ cet6_form.ID_type }}
              </div>
              <!--idtype试着用选择框解决，显示的非常诡异，还是算了吧-->
<!--              <div class="col-sm-2 offset-1">
                      <label for="">证件类型</label>

                      <div class="radio">
{#                          使用单选框的checked属性，默认 全部 单选按钮被选中#}
                            <label><input type="radio" name="sex" value="" checked>全部</label>
                        </div>
                      <div class="radio">
                            <label><input type="radio" name="sex" value="中华人民共和国居民身份证" >中华人民共和国居民身份证</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="sex" value="港澳居民来往内地通行证">港澳居民来往内地通行证</label>
                        </div>
              </div>-->

              <div class="form-group"><!--这个label_tag怎么弄的-->
                  {{ cet6_form.ID_no.label_tag }}<!--这个在form部分，相当于加一个标题-->
                  {{ cet6_form.ID_no }}
              </div>
              <div class="form-group" >
                  {{ cet6_form.email.label_tag }}
                  {{ cet6_form.email }}
              </div>
              <div class="form-group">
                  {{ cet6_form.place_id.label_tag }}
                  {{ cet6_form.place_id }}
              </div>

              <!--可以加什么标题，官网有身份证类别，身份证号，学历，备注；备注有点不好进数据库，还是算了-->
              <button type="reset" class="btn btn-default pull-left">取消</button>
              <button type="submit" class="btn btn-primary pull-right">报名</button>


          </form>
        </div>
    </div>

{% endblock %}